node_modules
.nx
.tmp
coverage
.eslintcache
test-results
tsconfig.tsbuildinfo

.git
.gitignore

.vscode
.editorconfig

*.log

Dockerfile
docker-compose.yml
compose.yml

.env
.env.*

apps/*/dist
apps/*/.next
apps/*/.turbo

k8s
